:root {
  --black: hsl(207, 95%, 8%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(174, 62%, 47%);
  --red: hsl(353, 81%, 51%);
  --brown: hsl(35, 100%, 55%)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

body {
  color: var(--black);
  background-color: var(--white);
}

.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--green);
}

.active {
  display: block;
  background-color: var(--red);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.nav-item4 {
  display: none;
}


a,
a:visited {
  color: inherit;
  text-decoration: none;
}




@media screen and (min-width: 768px) {}